body {
    background-color: rgb(200, 100, 100);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: rgb(46, 34, 34);
}

h1 {
    color: rgb(114, 18, 18);
    margin: 32px 0 64px 0;
}

.container {
    background-color: blanchedalmond;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(210, 122, 122);
    padding: 16px;
    position: relative;
}

.tabs p {
    padding: 8px;
}

.tabs p:hover {
    color: rgb(151, 58, 58);
    cursor: pointer;
}

.tabs p.active {
    color: rgb(151, 58, 58);
    position: relative;
}

.line {
    background-color: rgb(216, 137, 137);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 80px;
}

.tabs .active::before {
    content: "";
    width: 200%;
    height: 4px;
    background-color: rgb(151, 58, 58);
    position: absolute;
    border-radius: 10px;
    top: 47px;
    left: -50%;
    z-index: 2;
}

.toggle-wrapper {
    display: flex;
}

.toggle-wrapper img {
    height: 40px;
    margin: 0 16px;
}

.toggle {
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    width: 140px;
    text-transform: uppercase;
    background-color: rgb(151, 58, 58);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 4px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle span:first-of-type {
    color: blanchedalmond;
}

.toggle span:last-of-type {
    color: rgb(151, 58, 58);
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 4px 16px;
}

.sessions-card {
    background-color: rgb(255, 185, 185);
    text-align: center;
    padding: 32px;
    width: 50%;
    text-transform: uppercase;
    margin: 16px 0;
    border-radius: 10px;
}

.sessions-card p {
    color: rgb(37, 36, 36);
    font-size: 12px;
    font-weight: bold;
    margin: 16px 0 0 0;

}

.sessions-card .number {
    color: rgb(151, 58, 58);
    font-size: 3rem;
    margin: 0;
}

.description {
    line-height: 32px;
    margin: 16px 0 32px 0;
    padding: 0 32px;
}

.slider {
    width: 90%;
    position: relative;
}

.slider .bar {
    width: 100%;
    height: 16px;
    background-color: rgb(243, 214, 214);
    border-radius: 20px;
    border: 1px solid rgb(114, 18, 18);
}

.slider .progress {
    width: 30%;
    height: 18px;
    background: linear-gradient(90deg, rgba(115, 9, 9, 1) 0%, rgba(194, 9, 9, 1) 35%, rgba(245, 162, 162, 1) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider .point {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(245, 162, 162, 1);
    border: 2px solid whitesmoke;
    position: absolute;
    top: -3.5px;
    left: 98%;
    transition: 0.15s transform ease-in;
}

.slider .point:hover {
    cursor: pointer;
    background-color: rgb(226, 112, 112);
    border: 2px solid rgb(176, 52, 52);
    transform: scale(1.1);
}

.scale {
    width: 100%;
}

.slider .scale ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(226, 112, 112);
    font-size: smaller;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(243, 214, 214);
    border-radius: 10px;
    width: 35%;
    min-width: 30%;
    margin: 32px;
    padding: 16px 32px;
    box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    color: rgb(176, 52, 52);
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card .top-section {
    padding: 8px;
    text-transform: uppercase;
}

.card .top-section p {
    margin: 4px 0;
}

.card .price {
    color: rgb(41, 40, 40);
    font-size: 42px;
}

.card hr {
    width: 30%;
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.card button {
    border: none;
    color: antiquewhite;
    background-color: rgb(114, 18, 18);
    border-radius: 10px;
    font-weight: bold;
    padding: 16px;
    transition: .2s transform ease-in-out;
    margin: 16px;
}

.card button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.5);
}

.card .save {
    color: antiquewhite;
    background: linear-gradient(90deg, rgba(115, 9, 9, 1) 0%, rgba(194, 9, 9, 1) 35%, rgba(245, 162, 162, 1) 100%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}